@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

* {border: 1px Solid red}

body {
  height: 120vh;
  font-family: 'Niconne', cursive;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-image: url("images/stars.jpg");
}

.header {
  font-size: 36px;
  color: #ffffff; 
  text-shadow: 0 0 10px #c49102, 0 0 20px #ffffff, 0 0 30px #ffffff; 
}

.sketch-img {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
/* position:absolute allows overlay and centering, and inherits flex properties */
.screen {
  position:absolute;
  height: 380px;
  width: 530px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.grid {
  display:flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  background-color: whitesmoke;
  }



.footer {
  font-size: 24px;
  color: #ffffff; 
  text-shadow: 0 0 10px #c49102, 0 0 20px #ffffff, 0 0 30px #ffffff;
}