@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

* {border: 0px Solid red}

body {
  height: 120vh;
  font-family: 'Niconne', cursive;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-image: url("images/stars.jpg");
}

.header {
  font-size: 36px;
  color: #ffffff; 
  text-shadow: 0 0 10px #c49102, 0 0 20px #ffffff, 0 0 30px #ffffff; 
}

.container {
  display: flex;
  flex-direction: row;
}

.buttons {
  position: absolute;
  top: 190px;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 16px;
  gap: 80px;
}

#size, #reset {
  height: 70px;
  width: 70px;
  border-radius: 40px;
  background-color: #c49102;
  box-shadow: inset 0 10px 12px rgba(0, 0, 0, 0.39);
}

.size-container, .reset-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}

.sketch-img {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
/* position:absolute allows overlay and centering, and inherits flex properties */
.screen {
  position:absolute;
  height: 380px;
  width: 530px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.gridRows {
  display:flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}

.gridCells {
  display: flex;
  flex: 1;
  background-color: whitesmoke;
  content: "";
}

.footer {
  display: flex;
  flex: 1;
  align-items: flex-end;
  font-size: 24px;
  color: #ffffff; 
  text-shadow: 0 0 10px #c49102, 0 0 20px #ffffff, 0 0 30px #ffffff; 
}